@media(max-width: 1023px){


    .hide-for-mobile{
        display: none;
    }

    .menu-mobile img {
        width: 80px;
    }
    
    .menu-mobile {padding: 45px 20px;}

    .mobile-only{
        display: block;
    }

    .MenuChef[data-scheme=black] {
        background-color: #01703b !important;
        /*background-color: var(--MenuChef-scheme-bgcolor, #01703b) !important;*/
        background-color: var(--MenuChef-scheme-bgcolor, #db5733eb) !important;
    }

    .MenuChef[data-scheme=black] .MenuChef-links-link {
        color: #fff !important;
        color: var(--MenuChef-scheme-color, #fff ) !important;
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: #fff !important;
    }

    .is-active .hamburger-inner, .is-active .hamburger-inner::before,  .is-active .hamburger-inner::after {
        background-color: #fff !important;
    }

    .MenuChefOpen, .MenuChef-close {
        display: block !important;
        right: 0 !important;
        top: 40px !important;
    }


    #banner {
        padding: 50px 0 0px;
    }

    .quem-somos-img-grande {
        width: 320px !important;
    }

    .quem-somos-img-pequena {
        bottom: 40px;
        left: 10px;
    }

    .quem-somos-img-media {
        top: 30px;
        right: 10px;
    }

    .quem-somos-imagens {
        margin-top: 30px;
        order: 2;
    }

    .bttn-center {
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .bttn-center > .bttn + .bttn {
        margin-left: 0;
        margin-top: 20px;
    }

    .modalidade {
        height: 250px;
    }

    .modalidade-img {
        height: unset;
    }

    .modalidade-conteudo {
        padding: 10px 10px;
    }

    .titulo-modalidade {
        font-size: 18px;
    }

    .modalidades-lista {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 10px;
    }

    .porque {
        flex-direction: column;
    }

    .porque img {
        margin-right: 10px;
        margin-bottom: 0;
    }
    
    .porque span {
        margin-bottom: 5px;
        display: block;
    }

    #seguradoras {
        padding: 50px 0 30px;
    }

    .imagem-mulher {
        display: none;
    }

    .seguradoras-container{
        -webkit-box-shadow: 0px 0px 10px -1px #00000054;
        box-shadow: 0px 0px 10px -1px #00000054;
        justify-content: space-between;
    }

    .footer-top-item {
        margin-bottom: 30px;
    }

    .titulo-section span:after {
        display: none;
    }

    .titulo-section-menor {
        margin-bottom: 10px;
    }

    #vantagens {
        background-size: cover;
    }

    .vantagens-lista {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .vantagens-item {
        flex: 0 0 50%;
        margin-bottom: 60px;
    }

    .vantagens-item + .vantagens-item {
        margin-left: 0;
    }

    .logo-footer {
        display: none;
    }

    .banner-img img {
        margin-left: -270px;
        margin-top: -440px;
        width: 300% !important;
    }

    .banner-texto {
        padding-left: 20px;
    }

    .banner-slide.owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0;
    }

    .projeto {
        height: unset;
    }

    .projetos-lista {
        grid-template-columns: repeat(1, 1fr);
    }

    .projeto .modalidade-conteudo {
        padding: 20px 10px;
    }

    .banner-slide {
        margin-top: -80px;
    }

    .logos-slide-mobile-container{
        display: block;
        overflow: hidden;
        border-radius: 4px;
    }

    .logo-slide-container{
        display: none;
    }

    .logos-slide-mobile .owl-nav {
        position: absolute;
        width: 120%;
        display: flex;
        justify-content: space-between;
        top: -30%;
        left: -10%;
        z-index: 1;
    }

    .logos-slide-mobile .owl-stage-outer {
        z-index: 2;
    }
    
    .logos-slide-mobile .owl-nav button {
        font-size: 56px !important;
        background: transparent !important;
        outline: none !important;
    }
    
    .logos-slide-mobile .owl-nav button span {
        color: #db5733;
    }

    .banner-conteudo{
        flex-direction: column;
    }

    body {
        background-size: 330%;
    }
    
    
}