@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

* {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
}
  

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: #fff url(../imagens/bg.png) no-repeat center top;
    color: #868686;
    font-family: 'Poppins', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
margin: 0;
padding: 0; }

.row {
margin-bottom: 0; }


button{
	cursor: pointer;
}

section {
    padding: 50px 0px 50px; 
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
}

.menu-item {
    margin-left: 40px;
}

.menu-link {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
}

header {
    padding: 30px;
}

.info-topo {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.info-topo a {
    margin-left: 40px;
}

.info-topo .menu-link {
    font-size: 15px;
}

.menu-link:hover {
    color: #db5733;
    text-decoration: none;
    transition: 0.1s;
}

.redes-sociais-topo .menu-link {
    margin-left: 15px;
}

.redes-sociais-topo {
    margin-left: 30px;
}

#banner {
    padding: 80px 0 150px;
}

.banner-texto a {
    margin-top: 20px;
}

.banner-img img {
    margin-left: -400px;
    margin-top: -200px;
    width: auto !important;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
}

.title strong {
    display: block;
}

.banner-texto p {
    color: #fff;
    margin-top: 20px;
}

.bttn {
    display: inline-block;
    border-radius: 4px;
    background: #f16a41;
    -webkit-box-shadow: 0px 0px 22px -3px rgba(241, 106, 65, 1);
    -moz-box-shadow: 0px 0px 22px -3px rgba(241, 106, 65, 1);
    box-shadow: 0px 0px 22px -3px rgba(241, 106, 65, 1);
    transition: 0.3s;
    background: #f16a41;
    /* text-shadow: 0px 0px 20px; */
    color: #fff;
    font-weight: 700;
    padding: 8px 25px;
    text-transform: uppercase;
    background: rgb(239,108,70);
    background: linear-gradient(90deg, rgba(239,108,70,1) 0%, rgba(245,136,76,1) 35%, rgba(251,176,90,1) 100%);
    cursor: pointer;
    text-decoration: none;
}

.bttn:hover, .bttn:focus, .bttn:active {
    color: #fff;
    -webkit-box-shadow: 0px 0px 32px -3px rgba(241, 106, 65, 1);
    -moz-box-shadow: 0px 0px 32px -3px rgba(241, 106, 65, 1);
    box-shadow: 0px 0px 32px -3px rgba(241, 106, 65, 1);
    text-decoration: none;

}


.quem-somos-img-media {
    position: absolute;
    width: 150px;
    top: 50px;
    right: 50px;
    border-radius: 0;
    z-index: 9;
}

.quem-somos-img-pequena {
    position: absolute;
    bottom: 70px;
    width: 120px;
    left: 40px;
    border-radius: 0;
    z-index: 9;
}

.quem-somos-img-grande {
    width: 370px !important;
    border-radius: 0;
}

.quem-somos-slide .owl-item{
    display: flex;
    justify-content: center;
}

.quem-somos-imagens {
    position: relative;

/*    display: flex;
    justify-content: center; */
}

.quem-somos-imagens img {
    -webkit-box-shadow: 0px 0px 10px -1px #00000054;
    box-shadow: 0px 0px 10px -1px #00000054;
}

.titulo-section {
    color: #db5733;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.titulo-section span{
    position: relative;
}

.titulo-section span:after {
    content: '';
    position: absolute;
    width: 150px;
    height: 5px;
    background: #ececec;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: -160px;
    border-radius: 8px;
}

.quem-somos-conteudo {
    margin-top: 50px;
}

.bttn-center {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.bttn-center > .bttn + .bttn {
    margin-left: 30px;
}

#vantagens {
    background: url(../imagens/barra.png) no-repeat center top;
    /* background-size: contain;
    background-position: -100px 0px;*/
    padding: 36px 0 40px;
    margin-bottom: 30px;
}


@media(max-width: 1400px){
    #vantagens{
        padding: 28px 0;
    }    
}

.vantagens-lista {
    display: flex;
    justify-content: center;
}

.vantagens-item + .vantagens-item {
    margin-left: 0;
}

.vantagens-item img {
    width: 50px;
    margin-bottom: 15px;
}

.vantagens-item p {
    color: #fff;
    text-transform: uppercase;
    line-height: 20px;
}

.vantagens-item p strong {
    display: block;
}

.vantagens-item {
    text-align: center;
    position: relative;
    width: 250px;
}

.vantagens-item:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background: #db5733;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -40px;
    border-radius: 4px 4px 0 0;
}

@media(max-width: 1400px){
    .vantagens-item:after {
        bottom: -28px;
    }    
}

#modalidades p {
    margin-bottom: 20px;
}

.modalidades-lista {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    padding: 20px 10px;
}

.modalidade {
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px -1px #00000054;
    box-shadow: 0px 0px 10px -1px #00000054;
    border-radius: 4px;
    overflow: hidden;
    height: 320px;
    transition: 0.3s;
}

.modalidade img {
    width: 100%;
    transition: 0.3s;
}

.modalidade:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}

/* .modalidade:hover img {
    transform: scale(1.1);
    transition: 0.3s;
} */

.modalidade-conteudo {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}


.projetos-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 20px 10px;
}

.projeto-img {
    height: 206px;
    overflow: hidden;
    transition: 0.3s;
}

.projeto {
    height: 350px;
}

.titulo-modalidade {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    color: #707070;
}

.titulo-modalidade strong {
    display: block;
}

#seguradoras{
    background: url(../imagens/depoimentos-bg.png) no-repeat center top;
    padding: 150px 0 100px;
}

.titulo-section-branco {
    color: #fff;
}

.titulo-section-branco span:after {
    opacity: 0.5;
}

.porque {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    color: #fff;
}

.porque img {
    margin-right: 10px;
    width: 50px !important;
    border-radius: 50%;
}

.porque span {
    color: #68ec27;
    font-weight: 700;
}

.seguradoras-container {
    padding: 50px;
    background: #fff;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seguradoras-container a {flex: 0 0 15%;}

.seguradoras-container img {
    height: 40px;
    width: auto !important;
    margin: 15px 0 15px;
}

.seguradoras-container a {
    justify-content: center;
    display: flex;
}

#contato p {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 4px;
    height: 45px;
    padding: 0 20px;
}

textarea.form-control {
    height: 167px;
    padding: 10px 20px;
}

.cidade-estado {
    display: flex;
    align-items: center;
}

select.form-control {
    height: 45px !important;
}

.cidade-estado select {
    margin-left: 10px;
}

#contato .container{
    position: relative;
}

.imagem-mulher {
    position: absolute;
    bottom: -60%;
    right: -15%;
    z-index: -1;
}

.titulo-center {
    font-weight: 400;
}

.instagram-feed {
    display: flex;
}

.intagram-img-container {
    overflow: hidden;
}

.intagram-img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

footer {
    padding: 0;
}

.titulo-footer {
    color: #545454;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;
    font-weight: 700;
}

.titulo-footer:after {content: '';position: absolute;width: 50px;height: 2px;background: #db5733;left: 0;bottom: 0;}

.redes-sociais i {
    color: #db5733;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #db5733;
}

.redes-sociais i.fa-facebook-f {
    padding: 5px 8px;
}

.redes-sociais i.fa-instagram {
    padding: 5px 6px;
}

.redes-sociais a {
    margin-right: 5px;
}

.footer-bottom {
    padding: 30px 0;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #eaeaea;
}

.footer-bottom p {
    font-size: 12px;
}

.footer-top {
    padding: 50px 0 30px;
}

.redes-sociais a:hover {
    text-decoration: none;
}

.redes-sociais a:hover i {
    color: #fff;
    background: #db5733;
    transition: 0.3s;
}

.logo-footer img {
    width: 100px;
}

.bttn-white {
    color: #707070;
    text-shadow: none;
    background: #fff;
    -webkit-box-shadow: 0px 0px 20px -13px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 20px -13px rgba(0,0,0,1);
    box-shadow: 0px 0px 20px -13px rgba(0,0,0,1);
}

.bttn-white:hover, .bttn-white:focus, .bttn-white:active {
    -webkit-box-shadow: 0px 0px 32px -13px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 32px -13px rgba(0,0,0,1);
    box-shadow: 0px 0px 32px -13px rgba(0,0,0,1);
    color: #707070;
}


.modalidade-img {
    height: 156px;
    overflow: hidden;
    transition: 0.3s;
}

.titulo-section-menor {
    font-weight: 400;
    font-size: 20px;
}

#quem-somos {
    padding: 50px 0 100px;
}

.mobile-only{
    display: none;
}

.MenuChefOpen, .MenuChef-close {
    display: none !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #db5733;
    opacity: 1;
}

.owl-theme .owl-dots .owl-dot span {
    background: #db5733;
    width: 40px;
    height: 4px;
    opacity: 0.5;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot {
    outline: none !important;
}

.modalidades-slide.owl-theme .owl-dots .owl-dot {
    outline: 0;
}

.instagram_gallery a img{
    width: 100% !important;
}

:root {
    --animate-delay: 0.5s;
  }

  label.error {
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 10px;
    color: #c53030;
}

.form-group {
    position: relative;
}

.form-group select {
    width: 96%;
}

.cidade-estado > div:first-child {
    flex: 3;
}

.cidade-estado > div:last-child {
    flex: 2;
}

.depoimento {
    background: #fff;
    color: #9e9e9e;
    padding: 20px 50px;
    border-radius: 4px;
    /* width: 570px; */
    text-align: justify;
    position: relative;
}

.depoimento-bottom {
    border-top: 2px solid #e3e3e3;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.depoimento-top {
    padding-bottom: 10px;
}

.quote-left, .quote-right {
    color: #db5733;
}

.quote-left {
    position: absolute;
    top: 23px;
    left: 26px;
}

.quote-right {
    position: absolute;
    bottom: 20px;
    right: 25px;
}

.bttn-black {
    background: #3d3d3d;
    padding: 8px 25px;
    -webkit-box-shadow: 0px 0px 12px -3px rgba(61, 61, 61, 1);
    -moz-box-shadow: 0px 0px 12px -3px rgba(61, 61, 61, 1);
    box-shadow: 0px 0px 12px -3px rgba(61, 61, 61, 1);
    margin: 10px auto 0px;
    font-size: 14px;
    background: rgb(59,59,59);
    background: linear-gradient(90deg, rgba(59,59,59,1) 0%, rgba(83,83,83,1) 35%, rgba(110,110,110,1) 100%);
}

/* .bttn-black:hover, .bttn-black:focus, .bttn-black:active {
    color: #fff;
    -webkit-box-shadow: 0px 0px 22px -3px rgba(61, 61, 61, 1);
    -moz-box-shadow: 0px 0px 22px -3px rgba(61, 61, 61, 1);
    box-shadow: 0px 0px 22px -3px rgba(61, 61, 61, 1);
} */

.modalidade:hover .bttn-black {
    color: #fff;
    background: rgb(239,108,70);
    background: linear-gradient(90deg, rgba(239,108,70,1) 0%, rgba(245,136,76,1) 35%, rgba(251,176,90,1) 100%);
    -webkit-box-shadow: 0px 0px 32px -3px rgba(241, 106, 65, 1);
    -moz-box-shadow: 0px 0px 32px -3px rgba(241, 106, 65, 1);
    box-shadow: 0px 0px 32px -3px rgba(241, 106, 65, 1);
}

.logos-slide{
    border-radius: 20px;
    overflow: hidden;
}

.logos-slide .owl-stage-outer {
    border-radius: 20px;
}

.titulo-black {
    color: #707070;
}

.projetos-slide.owl-theme .owl-dots .owl-dot.active span, .projetos-slide.owl-theme .owl-dots .owl-dot:hover span {
    background: #707070;
}

.projetos-slide.owl-theme .owl-dots .owl-dot span {
    background: #707070;
}

.modalidades-slide.owl-theme .owl-dots .owl-dot.active span, .modalidades-slide.owl-theme .owl-dots .owl-dot:hover span {
    background: #707070;
}

.modalidades-slide.owl-theme .owl-dots .owl-dot span {
    background: #707070;
}

.banner-conteudo{
    padding-top: 100px;
    display: flex;
    overflow: hidden;
}

.banner-texto{
    /* padding-left: 340px; */
    z-index: 2;
    max-width: 410px;
    margin-left: auto;
}

@media(max-width:1600px){
    .banner-texto{
        /* padding-left: 130px; */
        max-width: 440px;
    }
}

@media(max-width:1400px){
    .banner-texto{
        /* padding-left: 130px; */
        max-width: 450px;
    }
}

.banner-slide.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -120px;
}

.banner-img {
    z-index: 1;
}

.logos-slide-mobile-container{
    display: none;
}