
@font-face {
    font-family: 'Typometry';
    src: url('Typometry_Regular.eot');
    src: local('Typometry Regular'), local('Typometry_Regular'),
        url('Typometry_Regular.eot?#iefix') format('embedded-opentype'),
        url('Typometry_Regular.woff') format('woff'),
        url('Typometry_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
